.tier-sword {
  transform: translate(180px, -80px);
}
.tier-nethpot {
  transform: translate(220px, 20px);
}
.tier-crystal {
  transform: translate(180px, 120px);
}
.tier-diapot {
  transform: translate(0px, 220px);
}
.tier-axe {
  transform: translate(-180px, 120px);
}
.tier-uhc {
  transform: translate(-220px, 20px);
}
.tier-smp {
  transform: translate(-180px, -80px);
}
