@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Qwitcher+Grypen:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;*/
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  color: #ececec;
  background-color: #111;
}

.audiowide-regular {
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
}

.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
/* prettier-ignore */
@keyframes l5 {
  0%  {box-shadow: 20px 0 #666, -20px 0 #6662; background: #666;}
  33% {box-shadow: 20px 0 #666, -20px 0 #6662; background: #6662;}
  66% {box-shadow: 20px 0 #6662, -20px 0 #666; background: #6662;}
  100% {box-shadow: 20px 0 #6662, -20px 0 #666; background: #666;}
}
