/* @import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Qwitcher+Grypen:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
@import url("./components/modal/index.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ececec;
  background-color: #111;
}

/* .audiowide-regular {
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
} */

.gamemode-button {
  position: relative;
  overflow: hidden;
}
.gamemode-button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #999;
  transition: width 0.25s ease;
}
.gamemode-button:hover:after {
  width: 100%;
}
